@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
box-sizing: border-box;
}
.bodyapontamentos {
    display: flex;
    justify-content: center;
    min-height: 100%;
    font-family: "Roboto", sans-serif;
    color: #10182f;
    margin: 0;
    padding: 5%;
    padding-left: 24%;

}
.apontamentoscontainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0%;

}
.apontamentoscard {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    min-width: 45%;
    padding: 5%;
}

.apontamentoscard-header img {
    margin-top: 50%;
    height: 200px;
    object-fit: cover;
}
.apontamentoscard-body {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}

.apontamentostag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
}
.apontamentostag-teal {
background-color: #47bcd4;
}
.apontamentostag-purple {
background-color: #5e76bf;
}
.apontamentostag-pink {
background-color: #cd5b9f;
}

.apontamentoscard-body p {
font-size: 13px;
margin: 0 0 40px;
}
.apontamentosuser {
display: flex;

}

.apontamentosuser img {
    border-radius: 50%;
    min-width: 4%;
    min-height: 4%;
    margin-right: 1%;
}
.apontamentosuser-info h5 {
margin: 0;
}
.apontamentosuser-info small {
color: #545d7a;
}

.apontamentosleft-menu{
    float: left;
    min-width: 43%;
    margin-left:-50%;
    min-height: 20%;
    max-height: 30%;
}

.apontamentoscard-left-menu-header{
text-align: center;
}

.apontamentoscard-left-menu-header img {
    margin-top: 5%;
    min-width: 50%;
    border-radius: 50%;
    object-fit: cover;
}

.apontamentosfeed{
    float: left;
    min-width: 100%;
    min-height: 95%;

}

ul.no-bullets {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

.apontamentoscardsFeed {
    display: flex;
    justify-content: space-evenly;
    margin-top: -5%;
}

.apontamentosfeed hr {
    margin-top: 5%;
    border: 0;
    min-height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(49, 49, 49, 0.75), rgba(0, 0, 0, 0));

}

.collapsible {
    background-color: var(--bg-contrast);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 10px 10px;
    color: white;
    margin-top: 5%;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: var(--buttons-hover);
  }
  
  .apontamentoscontent {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    padding: 0 10px;
    display: none;
  }

  .titleFiltros{
      color: var(--bg-contrast)
  }
  
  .no-bullets a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    
  }

  .createButton {
    background-color: var(--bg-contrast);
    padding: 8px;
    width: 100%;
    border: none;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px 10px;
    color: white;
    margin-top: 5%;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

  .createButton:hover {
    background-color: #29a364;
  }


  @media screen and (max-width: 1280px){

    .bodyapontamentos {
        display: flex;
        justify-content: center;
        min-height: 100%;
        font-family: "Roboto", sans-serif;
        color: #10182f;
        margin: 0;
        padding: 5%;
        padding-left: 35%;
    }
    .apontamentoscontainer {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 0%;
        margin-top: 10%;
    }
    
    .apontamentosleft-menu{
        float: left;
        min-width: 45%;
        margin-left:-50%;
        min-height: 20%;
        max-height: 30%;
    }
    .apontamentosfeed{
        float: left;
        min-width: 100%;
        min-height: 95%;
      
  }
  
  }

  @media screen and (max-width: 1017px) {

    .bodyapontamentos {
        display: flex;
        justify-content: center;
        min-height: 100%;
        font-family: "Roboto", sans-serif;
        color: #10182f;
        margin: 0;
        padding: 5%;
    
    }
    .apontamentoscontainer {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 0%;
        margin-top: 20%;
    
    }
    
    .apontamentosleft-menu{
      min-width: 90%;
      margin: 0;
      padding: 0;
      min-height: 20%;
      max-height: 30%;
    }
    .apontamentosfeed{
      float: left;
      min-width: 90%;
      min-height: 95%;
      
  }
  
  }

  @media screen and (max-width: 827px) {

    .bodyapontamentos {
        display: flex;
        justify-content: center;
        min-height: 100%;
        font-family: "Roboto", sans-serif;
        color: #10182f;
        margin: 0;
        padding: 5%;
    
    }
    .apontamentoscontainer {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 0%;
        margin-top: 20%;
    
    }
    
    .apontamentosleft-menu{
      min-width: 90%;
      margin: 0;
      padding: 0;
      min-height: 20%;
      max-height: 30%;
    }
    .apontamentosfeed{
      float: left;
      min-width: 90%;
      min-height: 95%;
      
  }
  
  }
  
