    .dashboardbackground { 
        background-color: #bbbbbb;
    }
    
    .dashboardcontainer  {
        width: 100%;
        padding-top: 5%;
        display: flex;             /* establish flex container */
        flex-direction: row;            /* default value; can be omitted */
        flex-wrap: nowrap;              /* default value; can be omitted */
        justify-content: space-between; /* switched from default (flex-start, see below) */
    }
    .dashboardcontainer > div {
        width: 100px;
        height: 100px;
        background-color: white;
        padding: 8%;
        margin: 6%;
        margin-top: 3%;
        border-radius: 30px 30px;
    }

    .middlediv {
        opacity: 0%;
    }

    .dashboardfeed {

        width: 100%;
        padding-top: 5%;
        display: flex;             /* establish flex container */
        flex-direction: row;            /* default value; can be omitted */
        flex-wrap: nowrap;              /* default value; can be omitted */
        justify-content: center;
        
    }
    .dashboardfeed > div {
        position:absolute;
        width: 50%;
        height: 100px;
        background-color: white;
        padding: 8%;
        margin: 6%;
        margin-top: 0%;
        border-radius: 30px 30px;
    }